<div>
  <div ng-if="!reports.$resolved">
    <h1 class="loading-inline-spinner loading-left loading">Loading Reports
      <small>Please wait...</small>
    </h1>
  </div>

  <div ng-if="reports.$resolved && !reports.length" class="alert alert-danger center-block">
    <h1>
      <i class="glyphicon glyphicon-ban-circle"></i> No Reports Available
    </h1>
  </div>

  <report-navbar ng-if="reports.$resolved && reports.length"
                 reports="selection"
                 search="search">
  </report-navbar>

  <table ng-if="reports.$resolved && reports.length" class="table table-striped table-condensed">
    <tbody>
    <tr ng-repeat="report in reports | orderBy:name | filter:search.filter"
        class="repeated-item"
        ng-class="{warning:report.$selected}">
      <td ng-click="onSelect(report)" class="clicky">
        <i class="glyphicon"
           ng-class="{'glyphicon-check':report.$selected, 'glyphicon-unchecked':!report.$selected}">
        </i>
      </td>
      <td ng-click="onSelect(report)" class="clicky">
        <strong>{{report.name}}</strong>
      </td>
      <td>
        <span ng-click="onSelect(report)" class="clicky">
            {{report.description}}
        </span>

        <div ng-if="report.parameters.length">
          <span ng-show="hasVisibleParams(report.parameters)">
            <a ng-hide="showParams" href="" ng-click="showParams=true" class="badge">
              <i class="glyphicon glyphicon-cog"></i> Set Report Parameters
            </a>
            <a ng-show="showParams" href="" ng-click="showParams=false" class="badge">
              <i class="glyphicon glyphicon-chevron-up"></i> Hide Parameters
            </a>
          </span>

          <report-params ng-show="showParams"
                         params="report.parameters"
                         formatter="$paramFormatter({param: param})">
          </report-params>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
