<form role="form">
  <fieldset>
    <div class="form-group" ng-repeat="param in params" ng-hide="param.hidden">
      <label class="col-sm-12 control-label" for="{{param.name}}"><strong>{{param.name | pretty}}</strong></label>

      <div class="col-sm-8" ng-switch="param.type">
        <input ng-switch-when="Decimal" type="number" ng-model="param.value" id="{{param.name}}" class="form-control"
               placeholder="Enter Parameter Value">
        <input ng-switch-when="Double" type="number" ng-model="param.value" id="{{param.name}}" class="form-control"
               placeholder="Enter Parameter Value">
        <input ng-switch-when="DateTime" type="datetime" ng-model="param.value" id="{{param.name}}" class="form-control"
               placeholder="Enter Parameter Value">

        <div ng-switch-when="Boolean" class="btn-group" id="{{param.name}}">
          <label class="btn btn-default" ng-model="param.value" btn-radio="true">
            <i class="glyphicon" ng-class="{'glyphicon-check':param.value, 'glyphicon-unchecked':!param.value}"></i> Yes
          </label>
          <label class="btn btn-default" ng-model="param.value" btn-radio="false">
            <i class="glyphicon" ng-class="{'glyphicon-check':!param.value, 'glyphicon-unchecked':param.value}"></i> No
          </label>
        </div>

        <input ng-switch-default type="text" ng-model="param.value" id="{{param.name}}" class="form-control"
               placeholder="Enter Parameter Value">
      </div>
    </div>
  </fieldset>
</form>
