<form name="jobActions" class="job-list-navbar navbar-form navbar-left navbar-form-condensed">
  <div class="form-group">
    <search-box search="search.filter"></search-box>
  </div>
  <div class="form-group">
    <span ng-if="!disableViewOnline">
      &nbsp;|&nbsp;
      <a href="" ng-click="viewOnline()" ng-disabled="!reports.length">
        <i class="glyphicon glyphicon-eye-open"></i> View Online
      </a>
    </span>

    <span roles="73" ng-if="!disableEditOnline">
      &nbsp;|&nbsp;
      <a href="" ng-click="viewDesigner()" ng-disabled="!reports.length">
        <i class="glyphicon glyphicon-edit"></i> Edit Report
      </a>
    </span>

    &nbsp;|&nbsp;
    <span class="dropdown" dropdown>
      <a href ng-disabled="!reports.length" class="dropdown-toggle" dropdown-toggle>
        <i class="glyphicon glyphicon-download-alt"></i>
        Download <span ng-if="reports.length">{{reports.length}}</span> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a ng-repeat="dl in downloadTypes" href="" ng-click="download(dl.type)">
            {{dl.name}}
          </a>
        </li>
      </ul>
    </span>
  </div>
</form>
